<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD45Gv2m7JDIfvk-rTXOGd-y7biNWFfJRE</string>
	<key>GCM_SENDER_ID</key>
	<string>662687225977</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.meditracker.medicine</string>
	<key>PROJECT_ID</key>
	<string>meditracker-ae730</string>
	<key>STORAGE_BUCKET</key>
	<string>meditracker-ae730.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:662687225977:ios:d8532071fa428972fa5ca8</string>
</dict>
</plist>